<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>astj</string>
	<key>Builder Version</key>
	<string>7536.30.1</string>
	<key>CFBundleDisplayName</key>
	<string>gist-more-url</string>
	<key>CFBundleIdentifier</key>
	<string>jp.undo.command-z.gist-more-url</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.4</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>vendor/js/jquery-1.9.1.min.js</string>
				<string>vendor/js/underscore-min.js</string>
				<string>js/script.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Show extend url to clone (by 'ssh' and 'git') on Gist.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>gist.github.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
</dict>
</plist>
